# Build data.
/target
/debug_output
/release

# Game data paths.
/ct_steam
*.smc

# Runtime binary data.
*.dll
*.lib

# Internal documentation.
/info

# Rust Rover data
.idea

# Game data missing from PC version.
data/epoch_sprites.bmp
data/pc_sprites.bmp
